.blok{
    background-color:#E60062 ;
}
.blok2{
    background-color:#E60062 ;
}
.blok3{
    background-color:#E60062 ;
}
.blok4{
    background-color:#E200E6 ;
}
.blok5{
    background-color:#E63400 ;
}